.figure-table-container {
  text-align: left;
  max-height: 630px;
  overflow-y: auto;
  transition: height 300ms ease-out;
}

.figure-table-container .button {
  width: 50px;
  height: 20px;
  line-height: 20px;
  background: #efefef;
  border: 1px solid #a3a3a3;
  box-shadow: 0 4px 8px -8 #0003;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: -5px;
}
.figure-table-container .figure-table-title {
  font-family: 'Helvetica-Bold';
  color: #240f39;
  font-size: 18px;
  letter-spacing: 0.09px;
  font-weight: bold;
}
.figure-table-container .figure-input-line {
  margin-top: 12px;
  position: relative;
}
.figure-input-line .figure-input {
  border: 0.84px solid #979797;
  border-radius: 3px;
  width: 165px;
  height: 24px;
}
.figure-input-line .closesvg {
  width: 24px;
  height: 26px;
  position: absolute;
  z-index: 5;
  left: 150px;
  border-radius: 0px 3px 3px 0;
  /* background-color: #ececec; */
  border: 0.84px solid #979797;
  border-left: 0px solid transparent;
  fill: #cecece;
  cursor: pointer;
}

.figure-table-container .ant-collapse {
  background: #fff;
}

.figure-table-container .ant-collapse-content-box {
  padding: 2px;
}

.figure-table-container .figure-detail-list {
  margin: 9px 0 0px 0;
}

.site-collapse-custom-collapse .site-collapse-custom-panel {
  margin-bottom: 14px;
  overflow: hidden;
  border: 0px;
  border-radius: 2px;
}

.site-collapse-custom-collapse
  .site-collapse-custom-panel
  .ant-collapse-header {
  overflow: auto;
  border: 0px;
  border-radius: 2px;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 0 5px 10px;
  border-bottom: 1px dashed #c9c9c9;
}
.site-collapse-custom-collapse .site-collapse-custom-panel ul {
  padding-left: 5%;
  list-style: none;
}

.site-collapse-custom-collapse .site-collapse-custom-panel ul div.group {
  list-style: none;
  margin-top: 5px;
  /* border: solid 1px #979797; */
  /* padding: 10px; */
}

.site-collapse-custom-collapse .site-collapse-custom-panel ul div.group li {
  list-style: none;
}
.site-collapse-custom-collapse .site-collapse-custom-panel li .param {
  font-weight: 550;
}
.site-collapse-custom-collapse .site-collapse-custom-panel li .value {
  font-weight: 200;
  margin: 0 0 0 5px;
}
.basic-info {
  margin: 10px 22px 10px 0;
}
.basic-info p {
  margin: 0;
}
.basic-info .title {
  /* background-color: #ececec; */
  padding: 5px 0 5px 10px;
  font-weight: bold;
  line-height: 22px;
  font-family: 'Helvetica';
  font-size: 14px;
}
.basic-info .basic-info-panel {
  margin-top: 10px;
}
.basic-info .basic-info-panel li {
  list-style: none;
  padding: 2px;
}
.basic-info .basic-info-panel .param {
  font-weight: 550;
  margin: 0 0 0 5px;
}
.basic-info .basic-info-panel .value {
  font-weight: 200;
  margin: 0 0 0 5px;
}
