#searcher-panel {
  $width: 289px;

  .searcher-items {
    height: 460px;
    margin-top: -15px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .searcher-items::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #c6c6c6;
  }

  .searcher-items::-webkit-scrollbar {
    width: 8px; /* 设置滚动条样式 */
    background-color: rgba(0, 0, 0, 0);
  }

  .searcher-items::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #eee;
    border: 1px solid #c6c6c6;
  }

  .searcher-item {
    position: relative;
    width: $width;
    height: 27px;
    margin: 15px 0;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    font-family: Helvetica-Bold;
    font-size: 16px;
    color: #706e6e;
    letter-spacing: 0.73px;
    text-align: center;
    line-height: 27px;
    padding-right: 10px;

    span {
      border: 1px solid #a3a3a3;
      border-radius: 4px;
      padding: 6px;
      right: -1px;
      top: -1px;
      position: absolute;
      height: 27px;
      display: flex;
      align-items: center;
    }

    svg {
      cursor: pointer;
    }
  }

  input.his-input {
    width: $width;
    height: 27px;
    font-family: Helvetica-Bold;
    border-radius: 4px;
    border: 1px solid #a3a3a3;
  }

  #condition-list,
  #figure-input {
    width: $width;
    margin: 0 auto;

    .ant-divider-horizontal {
      font-family: Helvetica;
      font-size: 12px;
      color: #706e6e;
      letter-spacing: 0.46px;
      text-align: center;
      line-height: 15.6px;
      margin: 5px 0;
    }

    .custom-select {
      // display: inline-block;
      white-space: nowrap;
      // overflow: auto;
      min-width: 211px;
      height: 39px;
    }
  }

  #placer {
    min-height: 100px;
  }

  #submit-button {
    position: absolute;
    bottom: 15px;
    background: #efefef;
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    font-family: Helvetica;
    font-size: 16px;
    color: #696969;
    letter-spacing: 0.73px;
    text-align: center;
    line-height: 27px;
    width: $width;
    height: 27px;
    margin: 0 auto;
    cursor: pointer;
  }

  #model-checkbox {
    font-size: 12px;
    color: #5f5f5f;
    letter-spacing: 0.55px;
    // text-align: left;
    text-align: center;
    display: flex;
    flex-wrap: wrap;

    .single-checkbox {
      width: 120px;

      label {
        margin-left: 5px;
      }

      .split-line {
        width: 80px;
        height: 1px;
        background: #838383;
        margin: 3px 0 5px 28px;
      }
    }

    // 改变antd的checkbox默认样式
    input[type='checkbox'] {
      width: 12px;
      height: 12px;
      background-color: #fff;
      -webkit-appearance: none;
      border: 1px solid #838383;
      outline: none;
    }

    input[type='checkbox']:checked {
      background: url('../../../assets/icons/check.svg') no-repeat center;
    }
  }
}
