.mapView-label {
  width: 36.4px;
  height: 27px;
  margin-top: 13.44px;
  margin-left: 7.68px;
  display: inline-block;
}

.mapView-label-container {
  text-align: left;
}

.mapView-label-container .g-text {
  line-height: 11.2px;
  width: 61.6px;
  margin-left: 3.84px;
  display: inline-block;
  font-family: Helvetica-Light;
  color: #333333;
  font-size: 9.6px;
}
.mapContainer {
  margin-left: 5.76px;
  margin-top: 1.92px;
  margin-right: 5.76px;
}
.mapContainer circle {
  fill: #9b8267;
  fill-opacity: 0.3;
  stroke: #9b8267;
  stroke-width: 1px;
  cursor: pointer;
}
