.container {
  height: calc(100% - 28px);

  display: grid;
  grid-template-columns: 1fr 280px;
  grid-template-rows: auto 1fr;
}

.header {
  border-bottom: 1px dashed #979797;
  grid-column: 1/8;
  grid-row: 1;
  grid-template-columns: 220px 220px 4fr 1fr;
  display: grid;

  h3 {
    font-family: Helvetica;
    font-size: 12px;
    color: #696969;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0px;
    vertical-align: middle;
  }

  h3 {
    margin: 5px 5px 5px 0 !important;
  }
}

.feature-header {
  display: flex;
}

.figure-header {
  text-align: right;
  text-align: center;
  margin-left: 0px;
}
.events-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 2px;
  padding: 2px 5px 2px 10px;

  span {
    position: relative;
    margin: 0 10px;
    font-family: Arial;
    font-size: 12px;
    color: #696969;
    font-weight: 400;
    word-break: break-all;
    cursor: pointer;

    &::before {
      position: absolute;
      width: 10px;
      height: 10px;
      display: inline-block;
      content: '';
      top: 4px;
      left: -14px;
      border: 2px solid var(--color);
      background: #fff;
      transition: background 300ms ease-in-out;
    }
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 2px 0 2px 5px;
  }
}

.content-divider {
  position: absolute;
  width: 1px;
  height: 100%;
  border-right: 1px dashed #d9d9d9;
  z-index: 2;
}
.content {
  grid-column: 1;
  grid-row: 2;
  margin: 4px 0;
  display: grid;
  grid-template-rows: 60px auto;
  position: relative;
}

.content-inner {
  padding-left: 5px;
  direction: rtl;
  height: 535px;
  overflow: auto;
  grid-row: 2;
  grid-column: 1/8;
  position: relative;
}

.scroll-wrapper {
  direction: ltr;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr 1fr 2fr 1fr;
  grid-column-gap: 10px;
  position: relative;
}

.names {
  p {
    margin: 0;
    line-height: 16px;
    // 与svg和radio的高度保持一致
    height: 21px;
    text-align: right;
    cursor: pointer;
    word-break: break-all;
    white-space: nowrap;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.radios {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  // matrix and events link
  grid-column: 2;
  grid-row: 2;
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 75px 1fr;

  svg {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.theme {
  p {
    margin: 0;
    line-height: 21px;
    width: 28px;
    margin: 0 4px 0 0;
  }
}

.theme-item {
  display: flex;
  height: 21px;
  align-items: center;

  span {
    background: #000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 2px;
  }
}

.matrix-histogram {
  grid-row: 1/2;
  grid-column: 2/3;
  margin-left: -8px;
}
// historgam

.content-histogram {
  grid-row: 1/2;
  grid-column: 1/7;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr 1fr 2fr 1fr;
  grid-column-gap: 10px;
  padding-left: 5px;

  div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1;
    display: flex;
    align-items: center;
  }
  div:nth-child(2) {
    grid-column: 3/4;
    grid-row: 1;
    display: flex;
    align-items: center;
  }
  div:nth-child(3) {
    grid-column: 4/5;
    grid-row: 1;
    display: flex;
    align-items: center;
  }

  p {
    grid-column: 5;
    display: flex;
    align-items: flex-end;
    margin: 0;
    font-weight: 700;
  }
}

.year {
  grid-column: 5/7;
}

.highlight {
  height: 21px;
  width: 100%;
  position: absolute;
  background: #f0ede8;
  left: 0;
  right: 0;
  transition: top 300ms ease-in-out 300ms, opacity 300ms ease-in-out;
  z-index: 0;
  border-bottom: 1px solid #fff;
}
