.container {
  height: calc(100% - 28px);

  display: grid;
  grid-template-columns: 2fr 2fr 1fr 0.5fr 0.5fr 3fr;
  grid-template-rows: auto 1fr;
}

.header {
  border-bottom: 1px dashed #979797;
  grid-column: 1/7;
  grid-row: 1;
  padding-bottom: 5px;
}

.content {
  grid-column: 1/5;
  grid-row: 2;
  height: 618px;
  overflow: auto;
  margin: 4px 0;
  direction: rtl;
}

.content-inner {
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
  direction: ltr;
}

.names {
  p {
    margin: 0;
    line-height: 16px;
    // 与svg和radio的高度保持一致
    height: 21px;
    text-align: right;
  }
}

.radios {
  display: flex;
  flex-direction: column;
}

.wrapper {
  grid-column: 5/7;
  grid-row: 2;
  display: flex;
}
