#right-panel {
  display: flex;
  flex-direction: column;
  padding: 0 15px;

  h2 {
    line-height: 50px;
  }

  .person-view {
    flex: 1;
  }
  .view {
    flex: 0 0 32%;
  }

  .loading-border {
    height: 5px;
    margin: 2px 0 0 0;
    animation: rotate 10s infinite linear;
    background: linear-gradient(to right, #eee, #ccc, #eee);
  }

  @keyframes rotate {
    from {
      background-position: -3000px;
    }
    to {
      background-position: 0px;
    }
  }
}
