#right-panel {
  display: flex;
  flex-direction: column;
  padding: 0 15px;

  h2 {
    line-height: 50px;
  }

  .person-view {
    flex: 1;
  }
  .view {
    flex: 0 0 330px;

    h3 {
      margin: 6px 0;
    }
  }

  @keyframes rotate {
    from {
      background-position: -3000px;
    }
    to {
      background-position: 0px;
    }
  }
}
